@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

html body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #3498db, #2c3e50);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    color: #fff;
}

.ties {
    display: none;
}

div.buttonBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.playerSection {
    width: 600px;
    height: 250px;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;    
}

.button {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color .5s;
}

.button:hover {
    background-color: #e74c3c;
}

button.restartGame{
    display:none;
}

.opener {
    font-size: 50px;
}

.description {
    font-size: 30px;
    max-width: 800px;
}

img {
    width: 150px;
    padding: 0 20px;
    transition: transform 0.3s
}

img.pImg:hover{
    transform: scale(1.1)
}

hr {
    width: 80%;
    height: 10px;
    border: 0;
    background: linear-gradient(to right, transparent, #3498db, #e74c3c, #3498db, transparent);
}

h1 {
    color: #f09076;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}